*/.classpath
*/.launch
*/.project
*/.settings
*/*.launch
*/*.tmproj
*/ivy*
*/eclipse
*.idea
*.iml

*/prodDb.*

*Db.properties
*Db.script

*/stacktrace.log
*/test/reports
**/logs
*/out/*

plugin.xml

*/plugins
*/web-app/plugins

*/out
*/target
*/target-eclipse
*/.slcache
*.gradle

*.iws
*.class

*.sublime-project
*.sublime-workspace

.DS_Store

.build/*
*.build/

*.gradle*
build

classes/artifacts/StockMarket/exploded/StockMarket-0.1.war/META-INF/MANIFEST.MF
*.asscache
*.MF

### Java ###
# Compiled class file
*.class
# Log file
*.log

### Maven ###
target/
pom.xml.releaseBackup

### IntelliJ IDEA ###
/out/
.idea
*.iws
*.iml
*.ipr

resources/vault
resources/localstack

mvnw
mvnw.*

.directory

logs/
